{% extends 'layout/base.html' %}

{% block title %}Dang nhap nguoi dung{% endblock %}

{% block content %}
<h1 class="text-center text-danger">DANG NHAP NGUOI DUNG</h1>

{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}

<form method="post" action="{{ url_for('user_signin') }}" >
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required></input>
    </div>
    <div class="form-group">
        <label for="pass">Mat khau</label>
        <input type="password" class="form-control" id="pass" name="password"></input>
    </div>
    <input type="submit" value="Dang nhap" class="btn btn-danger">
</form>
<br><br>
{% endblock %}